.filePond {
  border-radius: 4px;
  width: 33%;
  float: center;

  border-radius: 10px 10px 10px 10px;
  border-color: #808080;
  color: black;
  border: 1px solid;
}

.outerFilePond {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
